
h1 {
    display: block;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #8C9086;
    text-align: center;
    margin-bottom: 15px;
    font-size: 70px;
}

img {
  float: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
